

.one{

}

/* general siblings -- ->  ~    */

/* h1 ~P{
    background: #000;
    color: aliceblue;
} */


/* adjacent ---> + */

/* h1 +P{
    background: #000;
    color: aliceblue;
} */


/* psedo class */


div{
    background-color: aquamarine;
    border: 2px solid;
}

div:hover{
    background: #000;
    color: aliceblue;
}

.one:last-child{
    background-color: blue;
}

/* position in css */


/* psedo class selector */

/* h1:first-child{

}

h1:nth-child(odd){

}

h1:nth-child(3n){

} */


